@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
.container {
  min-height: 100vh;
  /* padding: 30px 30px 43px 30px; */
  nav {
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(270deg, #7743db 31.64%, #5725e5 66.78%);
    h1 {
      color: #fff;
      font-family: Poppins;
      font-size: 26px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    ul{
      display: flex;
      @media screen and (max-width:1024px) {
      display: none;;
      }
      a {
        text-decoration: none;
        margin-left: 200px;
        color: #fff;
        text-align: center;
        font-family: Poppins;
        font-size: 24px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
      }
    }
.open-btn{
display: none;
@media screen and (max-width:1024px) {
display: block;
}
}
  }
  .menu-list{
    background: linear-gradient(270deg, #7743DB 31.64%, #5725E5 66.78%);
box-shadow: 0px 26px 50px 14px rgba(0, 0, 0, 0.20);

a{
  color: #FFF;
text-align: center;
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 300;
line-height: normal;
}
  }
  main {
    display: flex;
    padding: 98px 50px 43px 50px;
    @media screen and (max-width:1024px) {
      flex-direction: column-reverse;
    }
    h2 {
      width: 608px;
      font-family: Poppins;
      font-size: 68px;
      font-style: italic;
      font-weight: 700;
      line-height: 109%;
    }
    p {
      margin-top: 32px;
      margin-bottom: 32px;
      width: 608px;
      color: #000;
      font-family: Poppins;
      font-size: 26px;
      font-style: normal;
      font-weight: 300;
      line-height: 109%;
    }
    button {
      padding: 10px 20px;
      border-radius: 25px;
      background: linear-gradient(263deg, #7743db 38.81%, #5725e5 70.24%);
      a {
        color: #fff;
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 109%;
      }
    }
  }
}
